---
import Layout from '../layouts/Layout.astro';
import { Music } from "../services/music-service";

const latestWorks = await Music.getLatest(4);
---

<Layout title="">
	<p>Hello world</p>
</Layout>