---
import { Music } from "../services/music-service";
import PieceList from "./PieceList.astro";

const latestWorks = await Music.getLatest(4);
---

<h1>Latest Works</h1>

<PieceList pieces={latestWorks} />

<p class="mt-4">
    <a class="btn btn-outline-primary" href="/music">View All</a>
</p>