---
import { Music } from "../services/music-service";
import PieceList from "./PieceList.astro";

const latestWorks = await Music.getLatest(4);
---

<h2>Latest Works</h2>

<PieceList pieces={latestWorks} />

<p class="mt-4">
    <a class="btn btn-outline-primary" href="/music">View all</a>
</p>