---
import type { Piece } from '../types';

interface Props {
    piece: Piece;
}

const products = Astro.props.piece.products?.filter(product => product.prod === import.meta.env.PROD);

---

<h2>Purchase</h2>
{products && products?.length > 0 && <>
    <div class="mb-5">
        {products.map(product => (
            <div id="add-to-cart" data-product-id={product.priceId}></div>
        ))}    
    </div>
</>}
{(!products || products.length === 0) && <>
    <p>To purchase this work, please <a href="/contact">contact Alex</a> directly.</p>
</>}