---
import type { Piece } from '../types';
import PerformanceList from './PerformanceList.astro';

interface Props {
    piece: Piece;
}

const { piece } = Astro.props;

if (!piece.performances) {
    return;
}

---

<h2>Performances</h2>

<PerformanceList performances={piece.performances} />